<% title "Account" %>
<% page_header "Account" %>

<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <%= f.text_field :full_name %>
  <%= f.email_field :email %>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  <%= f.password_field :current_password, help: "we need your current password to confirm your changes" %>
  <%= f.password_field :password, help: "leave blank if you don't want to change it", placeholder: "#{@minimum_password_length} characters minimum" %>
  <%= f.password_field :password_confirmation %>
  <%= submit_button 'Save Changes' %>
<% end %>
<br />
<hr />
<h3>Cancel my account</h3>
<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger' %></p>